
.icon-options:before { content: '\e800'; } /* '' */
.icon-options-vert:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-plus-circled:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-layout:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-replace:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-eye-off:before { content: '\e80a'; } /* '' */
.icon-move-down:before { content: '\e80b'; } /* '' */
.icon-move-up:before { content: '\e80c'; } /* '' */
.icon-code:before { content: '\e80d'; } /* '' */
.icon-settings:before { content: '\e80e'; } /* '' */
.icon-manage:before { content: '\e80f'; } /* '' */